@use "_colors.scss" as *;

.about-main {
    .about-container {
        max-width: 1280px;
        padding: 0 2rem;
        margin: 0 auto;
        .about-section{
            width: max-content;
            h2{
                margin: .8rem 0;
            }
        }
    }
}
