@use '_colors.scss' as *;

.hero {
  padding: 4rem 2rem 3rem;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  .hero-container {
    max-width: 1440px;
    display: flex;
    gap: 1.6rem;
    align-items: center;

    .hero-slider {
      position: relative;
      width: 100%;
      max-width: 60rem;
      min-height: 21.875rem;
      overflow: hidden;
      background: $color-bg-primary;
      margin-bottom: 1rem;
    }

    .hero-slide {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2.5rem;
      text-align: center;
      height: 100%;
      &.active {
        display: flex;
        animation: fadein 0.6s;
      }
    }
    .hero-image{
      width: 32%;
      .hero-img {
        width: 100%;
      }
    }

    .hero-text{
      width: 76%;
      .hero-title {
        color: $color-text-primary;
        margin-bottom: 1rem;
      }
  
      .hero-desc {
        font-size: 1.1rem;
        color: $color-text-tertiary;
        margin-bottom: 2rem;
      }
  
      .hero-cta {
        @include button-primary;
        font-size: 1.1rem;
        a {
          height: 2rem;
          display: block;
          color: var(--text-quaternary);
          text-decoration: none;
          line-height: 1.8rem;
        }
      }
    }

  }

  @keyframes fadein {
    0% {
      opacity: 0;
      transform: translateX(4rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
}
