@use 'sass:color';
@use '_colors.scss' as *;

.home-main {
  margin: 0 auto;
  .products {
    padding: 0 1.6rem;
  }
}

// Responsive design
@media (max-width: 768px) {
  main.home-main {
    width: 100%;
  }
}
